<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XDSThirdParty.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A269A0161E0153140083B333</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A28CF92F1E5D5E0E002C3FCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A28CF9401E5D65F8002C3FCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
